#box {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

.open {
    color: white;
    text-align: center;
    letter-spacing: 1.5
}

#left {
    padding-right: 70px;
    background-color: #F26A83;
    align-content: center;



}

.header {
    background-color: #C41E3D;
    border: 100px;
    border-color: aliceblue;

}

body {
    background-color: #870D23;

}

#right {
    border-color: aliceblue;
    background-color: white;
    padding-left: 120px;

}

#head {
    border-color: whitesmoke;
    background-color: white;
    border-bottom-color: aqua;
    border: 100px;

}

h4 {
    color: white;
    font-size: 20;
}

h2 {
    word-spacing: 12;
    color: white;
    text-align: left;
    padding-right: 200px;
}

.pic1 {
    border-radius: 20%;
    height: 250;

}

.pic2 {
    border-radius: 25%;
    height: 250;
    width: 400;
    align-content: center;
    padding-right:35px;
}

.pic3 {
    border-radius: 20%;
    height: 250;
    width: 400;

}

.pic4 {
    border-radius: 20%;
    height: 250;
    width: 400;
}
.pic5 {
    padding-left: 100px;
    border-top-left-radius: 36%;
    border-top-right-radius:23%;
    border-bottom-left-radius: 70%;
    border-radius: 100%;
    
}